* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

#calc {
    width: 40vw;
    height: 650px;
    border: solid blue;
    padding: .5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: .8em;
    font-weight: 400;
    color: #666;
}

#operations {

    text-align: right;
}

#pre-operation {
    color: #777;
    padding: .2em;
    overflow-wrap: break-word;
    /*serve para quebrar linha quando número muito extenso*/
    min-height: 1.5em;
    /*serve para determinar uma altura minima no visor*/
}

#pos-operation {
    color: #333;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
    /*serve para quebrar linha quando número muito extenso*/
    min-height: 1.5em;
    /*serve para determinar uma altura minima no visor*/
}

#buttons-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}

#buttons-box button {
    border: solid 1px transparent;
    border-radius: 0;
    height: 4.1em;
    font-size: 1.4em;
    background-color: #dbdbdb;
    cursor: pointer;
}


#buttons-box .number{
background-color: #f3f3f3;
}

#buttons-box button:hover{
background-color: #bababa;
border-color: #999;
}

#buttons-box #equal-btn{
    grid-column: span 2; 
    /*aqui o botao ocupa duas colunas */ 
    background-color: #0FF;
}

#buttons-box #equal-btn:hover{
    grid-column: span 2; 
    /*aqui o botao ocupa duas colunas */ 
    background-color: #3a81d8;
}